{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          {% if page.url contains '/zh' %}
            {% assign home_url = '/zh/' %}
          {% else %}
            {% assign home_url = '/' %}
          {% endif %}
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == home_url or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ home_url }}">Homepage</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign href = link.url %}
            {% elsif link.url contains '/#' %}
              {% assign href = link.url | remove_first: '/' %}
            {% else %}
              {% assign href = link.url %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ href }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="lang-toggle" class="masthead__menu-item persist">
            {% if page.url contains '/zh' %}
              <a href="/" title="Switch to English"><span class="lang-toggle-text">EN</span></a>
            {% else %}
              <a href="/zh/" title="切换到中文"><span class="lang-toggle-text">中</span></a>
            {% endif %}
          </li>
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
